{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header">
        <a href="{% url 'home' %}" class="logo">Shouq<span>Abdullah</span></a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            {% if request.resolver_match.view_name == 'dashboard:dashboard_home' %}
            <!-- Custom links for the dashboard home page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
        {% elif request.resolver_match.view_name == 'dashboard:add_education' %}
            <!-- Custom links for Add Education page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
        {% elif request.resolver_match.view_name == 'dashboard:add_interest' %}
            <!-- Custom links for Add Interest page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
        {% elif request.resolver_match.view_name == 'dashboard:add_service' %}
            <!-- Custom links for Add Service page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'dashboard:update_education' %}
            <!-- Custom links for Update Education page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'dashboard:delete_education' %}
            <!-- Custom links for Delete Education page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'dashboard:education_list' %}
            <!-- Custom links for List Education page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'dashboard:interest_list' %}
            <!-- Custom links for Interest ;List page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'dashboard:add_interest' %}
            <!-- Custom links for Add Interest page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'dashboard:update_interest' %}
            <!-- Custom links for Update Interest page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'dashboard:delete_interest' %}
            <!-- Custom links for Delete Interest page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'dashboard:service_list' %}
            <!-- Custom links for Service List page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'dashboard:add_service' %}
            <!-- Custom links for Add Service page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'dashboard:update_service' %}
            <!-- Custom links for Update Service page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'dashboard:delete_service' %}
            <!-- Custom links for Delete Service page -->
            <a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a>
            <a href="{% url 'dashboard:add_education' %}">Add Education</a>
            <a href="{% url 'dashboard:add_interest' %}">Add Interest</a>
            <a href="{% url 'dashboard:add_service' %}">Add Service</a>
            {% elif request.resolver_match.view_name == 'home' %}
            <!-- Custom links for Home page -->
            <a href="#home" >Home</a>
             <a href="#education">Education</a>
            <a href="#services">Services</a>
            <a href="#testimonials">Personal Interests</a>
        {% else %}
        <a href="{% url 'home' %}" >Home</a>
        <a href="{% url 'education' %}">Education</a>
        <a href="{% url 'services' %}">Services</a>
        <a href="{% url 'interests' %}">Personal Interests</a>
        <a href="{% url 'contact' %}">Contact</a>
        {% endif %}
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="social">
            <a href="#"><i class='bx bxl-linkedin'></i></a>
            <a href="#"><i class='bx bxl-github'></i></a>
            <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
        </div>
        <ul class="list">
            <li><a href="#">FAQ</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'interests' %}">Personal Interests</a></li>
        </ul>
        <p class="copyright">Shouq | ...</p>
    </footer>
<script src="{% static 'scripts/script.js' %}">
</script>
</body>
</html>
