{% extends 'AboutMyself/base.html' %}
{% load static %}
{% block title %}Personal Interests{% endblock %}

{% load static %}
{% block content %}

<section class="testimonials" id="testimonials">
    <div class="testimonials-box">
        <h2 class="heading">Personal Interests</h2>
        <div class="wrapper">
            {% for interest in interests %}
                <div class="testimonials-item">
                    <!-- Image, if available -->
                    {% if interest.image %}
                        <img src="{{ interest.image.url }}" alt="{{ interest.name }}">
                    {% else %}
                        <img src="{% static 'images/default-image.png' %}" alt="Not available">
                    {% endif %}
                    <!-- Displaying the interest name -->
                    <h2>{{ interest.name }}</h2>
                    <div class="rating">
                        <!-- Add your rating *delete*-->
                    </div>
                    
                    <!-- Displaying the interest description -->
                    <p>{{ interest.description }}</p>
                </div>
            {% empty %}
                <p>No description available.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
