{% extends 'AboutMyself/base.html' %}
{%load static%}
{% block title %}Services{% endblock %}

{% block content %}

<section class="services" id="services">
    <h2 class="heading">My Services</h2>
    <!-- Display existing services -->
    <div class="services-container">
        {% for service in services %}
        <div class="services-box">
            <div class="services-info">
                <h4>{{ service.title }}</h4>
                <p>{{ service.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
