{% extends 'AboutMyself/base.html' %}
{% load static %}
{% block title %}Add Your Interest{% endblock %}

{% block content %}

<section>
    <div class="contact-us-card">
        <div class="contact-form">
            <h1 class="heading">Add Your Interest</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="interest-item">
            <label for="id_name">Interest Name</label>
            {{ form.name }}
        </div>

        <div class="interest-item">
            <label for="id_description">Description</label>
            {{ form.description }}
        </div>
        
        <div class="interest-item">
            <label for="id_image">Image (Optional)</label>
            {{ form.image }}
        </div>
        <br>
        <button type="submit" class="submit-button">Submit Interest</button>
    </form>
        </div>
    </div>
</section>
{% endblock %}
