{% extends 'AboutMyself/base.html' %}
{% block title %}Dashboard Home{% endblock %}
{% block content %}

<section>
   <!-- Main Dashboard Content -->
   <div class="dashboard-content">
    <h1>Welcome to Your Dashboard</h1>
    <p>Here is an overview of your activities and settings.</p>

    <!-- Education Section -->
    <div class="dashboard-section">
        <div class="card">
          <h2>Your Education</h2>
           <p>Quick access to your education details.</p>
            <h3>Manage Your Education</h3>
            <div class="card-buttons">
            <a href="{% url 'dashboard:add_education' %}" class="btn1">Add Education</a>
            <a href="{% url 'dashboard:education_list' %}" class="btn1">View Education</a>
            </div>
            <br><br>
            <p>Currently, you have <strong>{{ education_count }}</strong> education entries.</p>
        </div>
      </div>

      <!-- Interests Section -->
    <div class="dashboard-section">
      <div class="card">
        <h2>Your Interests</h2>
      <p>Quick access to your interests.</p>
      <h3>Manage Your Interests</h3>
        <div class="card-buttons">
          <a href="{% url 'dashboard:add_interest' %}" class="btn1">Add Interest</a>
          <a href="{% url 'dashboard:interest_list' %}" class="btn1">View Interests</a>
        </div>
        <br><br>
        <p>Currently, you have <strong>{{ interest_count }}</strong> interest entries.</p>
      </div>
    </div>
  
  <!-- Services Section -->
  <div class="dashboard-section">
    <div class="card">
      <h2>Your Services</h2>
    <p>Quick access to your offered services.</p>
        <h3>Manage Your Services</h3>
        <div class="card-buttons">
            <a href="{% url 'dashboard:add_service' %}" class="btn1">Add Service</a>
            <a href="{% url 'dashboard:service_list' %}" class="btn1">View Services</a>
        </div>
        <br><br>
        <p>Currently, you have <strong>{{ service_count }}</strong> service entries.</p>
    </div>
  </div>
</section>
</div>

{% endblock %}
