{% extends 'about_myself/base.html' %}
{% block title %}Update Service{% endblock %}
{% block content %}
<section>
  <div class="contact-us-card">
      <div class="contact-form">
  <div class="form-container">
    <h1 class="title">Update Service</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn2 btn-primary">Update Service</button>
      <a href="{% url 'dashboard:service_list' %}" class="btn2 btn-secondary2">Cancel</a>
    </form>
  </div>
      </div>
  </div>
</section>
{% endblock %}
